table {
    width: 100%;
}

td {
    padding: 2%;
    
}

thead {
    background-color: rgb(172, 172, 172);
}

tr {
    margin: 10%;
}

tbody tr:nth-child(even) {
    background-color: #D6EEEE;
}

h1 {
    height: 1500%;
}